@charset "utf-8";
/* CSS Document */

#card {
	margin: auto;
	padding: 10px;
	height: 460px;
	width: 300px;
	background-color: #A396AB;
	border-radius: 20px;
}
#pic {
	margin: auto;
	height: 200px;
	width: 200px;
	background-color: #E5E5E5;
	background-image: url(images/head5.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 100px;
	background-position: 25px 0%;
}
#word {
	margin: auto;
	width: 80%;
}
h1 {
	color: #E8E8E8;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
li {
	color: #D6D0DB;
}
